name: demo-ci

on:
 workflow_dispatch: 
 push:
  branches:
    - main

jobs:
  build:
    runs-on: self-hosted

    steps:
      - name: checkout code
        uses: actions/checkout@v6

      - name: setup python
        uses: actions/setup-python@v6
        with:
          python-version: '3.8'

      - name: install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r backend/requirements.txt

      -  name: Login to Docker Hub
         uses: docker/login-action@v3
         with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      -  name: Build and push
         uses: docker/build-push-action@v6
         with:
          push: true
          tags: puneetgavri/abcbankingapp:LATEST
      
          
        

      
  
