name: demo-ci

on:
 workflow_dispatch: 
 push:
  branches:
    - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: checkout code
        uses: actions/checkout@v6

      - name: setup python
        uses: actions/setup-python@v6
        with:
          python-version: '3.8'

      - name: install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r backend/requirements.txt

      
          
        

      
  
